* {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  background-image: url(./images/black-background.webp);
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  font-family: sans-serif;
}

.section-container1 {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.section-container2 {
  height: 40vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  margin-bottom: 50px;
}

.card-container {
  background: rgba(126, 126, 126, 0.8);
  border-radius: 15px;
  padding: 60px;
  max-width: 450px;
}

.inputs {
  position: relative;
  font-size: 14px;
  padding-top: 20px;
  margin-bottom: 5px;
}

.inputs input {
  border: none;
  appearance: none;
  -ms-progress-appearance: none;
  -moz-progress-appearance: none;
  background: #f2f2f2;
  padding: 12px;
  border-radius: 10px;
  width: 250px;
  outline: none;
  font-size: 14px;
  margin: 10px;
}

.inputs .placeholder {
  position: absolute;
  left: 20px;
  top: calc(50% + 10px);
  transform: translateY(-50%);
  color: rgb(114, 113, 113);

  transition: top 0.3s ease, color 0.3s ease;
}

.inputs input:valid + .placeholder,
.inputs input:focus + .placeholder {
  top: 0px;
  font-size: 12px;
  color: #aaa;
}

.inputs .placeholder form {
  display: grid;
}

input[type="submit"] {
  position: relative;
  bottom: 30px;
  left: 35px;
  border-radius: 15px;
  font-size: 35px;
  padding: 10px;
  background: #fff;
  color: rgb(36, 36, 36);
  width: 150px;

  border: none;
  appearance: none;
  -ms-progress-appearance: none;
  -moz-progress-appearance: none;
  outline: none;
  cursor: pointer;

  transition: background 0.1s ease-in;
}

input[type="submit"]:hover {
  background: #ffc107;
}

.title {
  background: rgba(252, 0, 0, 0.2);
  color: #ffff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.countdown {
  background: rgb(182, 13, 13);
  color: #ffff;
  margin-left: 200px;
  border-radius: 50%;
  padding: 100px;
  font-size: 1.5rem;
  font-weight: bold;
  display: flex;
}

.countdown h3 {
  /* font-size: 1.5rem; */
  /* font-weight: bold; */
  padding: 0 20px;
}

.day,
.hour,
.minute,
.second {
  font-size: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

footer {
  height: 100px;
  pad: 25px;
  text-align: center;
  background: #000;
  color: #ffff;

  display: flex;
  align-items: center;
  justify-content: center;
}
